/* 
Upcommig Match */
.match {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.match img {
    width: 120px;
}

.p {
    margin-top: 5px;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
}

.match-time {
    font-size: 12px;
    color: gray;
}

.transfer-title {
    text-align: center;
}

.player {
    width: 330px;
    height: 250px;
    border: 1px solid rgb(234, 221, 221);
    border-radius: 15px;
}