/* Utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: none;
}

.container {
    background-color: #FFFFFF;
    align-items: center;
}


/* top-banner-style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-banner {
    color: #ffffff;
    display: flex;
    width: 1321px;
    height: 646px;
    color: #ffffff;
    background-color: #161616;
    justify-content: center;
    border-radius: 20px;
}

.btn:hover {
    background-color: salmon;
}

.banner-info {
    width: 531px;
    height: 424px;
    padding-top: 55px;
    padding-right: 40px;
}

.banner-title {
    font-size: 60px;
    font-weight: 700;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 581px;
    height: 613px;
}

.banner-detail {
    margin-bottom: 40px;
}

.arrow {
    margin-left: 10px;
}

.btn {
    text-decoration: none;
    background-color: #DD0000;
    align-items: center;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}


/* 
tranfer-cart and sidenav */

.transfer {
    margin-top: 80px;
    margin-right: none;
    display: flex;
}

.side-nav a {
    display: block;
    text-decoration: none;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    margin-right: 5px;
}

.side-nav a:hover {
    background-color: #DD0000;
    color: #ffffff;
}

.rectangle {
    align-content: center;
    margin-right: 20px;
    height: 220px;
    width: 250px;
    background-color: #161616;
    border-radius: 5px;
}

.side-nav {
    margin-right: 20px;
    height: 800px;
    display: block;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.transfer-banner img {
    width: 100%;
}

.player {
    width: 330px;
    height: 350px;
    border: 1px solid rgb(234, 221, 221);
    border-radius: 15px;
}

.transfer-btn a {
    border: 2px solid lightgrey;
    border-radius: 4px;
    text-decoration: none;
    font-size: 10px;
    padding: 2px;
    margin-top: 25px;
    margin-left: 15px;
}

.transfer-title {
    margin-left: 15px;
}

.transfer-info {
    display: flex;
    margin-left: 15px;
}

.transfer-icon {
    margin-right: 30px;
}

#tablet-view a {
    visibility: hidden;
}

/* 
footer */

.footer {
    margin-left: none;
    margin-top: 80px;
    width: 1400px;
    height: 250px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    padding: 60px;
}

hr.hr {
    width: 1300px;
    border-top: 1px solid #FFFFFF;
    border-bottom: none;
}

.page-link {
    margin-top: 40px;
    justify-content: center;
    text-decoration: none;
    display: flex;
}

.page-link a {
    text-decoration: none;
    margin-left: 20px;
    color: #ffffff;
}

.social-icon {
    margin: 20px;
}

.icon {
    margin-right: 5px;
}



/* Meadia Quueries */

/* Mobile divice */




@media only screen and (max-width:577px) {
    .top-players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .transfer {
        display: flex;
        flex-direction: column;

    }

    .page-link {
        display: flex;
        flex-direction: column;
    }
}

/* 
table device */
@media only screen and (min-width:578px) and (max-width:992px) {
    .top-players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    #tablet-view a {
        visibility: visible;
    }

    #tablet-view {
        margin-top: 40px;
    }

    .transfer {
        display: flex;
        flex-direction: column;

    }

}